/* src/App.css */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  background-color: whitesmoke;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px 20px;
  padding-left: 200px;
  box-shadow: 0px 4px 2px -2px gray;
  z-index: 1000;
}

nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.main-content {
  margin-top: 60px; /* Push content below the fixed header */
  padding: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90vw;
}
